</head>
<body>
  <nav>
		<i class="fas fa-film fa-2x"></i>  
    <a 
      href="/movies/new" <%- title === 'Add Movie' ? 'class="active"' : '' %>
    >
      BOOK A FLIGHT
    </a>
    <a 
      href="/movies" <%- title === 'All Movies' ? 'class="active"' : '' %>
    >
      ALL FLIGHTS
    </a>
  </nav>