</head>
<body>
  <nav>
    <a 
    href="/meals/new" <%- title === 'ADD A MEAL' ? 'class="active"' : '' %>
  >
     ADD A MEAL
  </a>
    <a 
      href="/flights/new" <%- title === 'BOOK A FLIGHT' ? 'class="active"' : '' %>
    >
      BOOK A FLIGHT
    </a>
    <a 
      href="/flights" <%- title === 'All FLIGHTS' ? 'class="active"' : '' %>
    >
      ALL FLIGHTS
    </a>
  </nav>