</head>
<body>
  <nav>
		<i class="fas fa-film fa-2x"></i>  
    <a 
      href="/flights/new" <%- title === 'BOOK A FLIGHT' ? 'class="active"' : '' %>
    >
      BOOK A FLIGHT
    </a>
    <a 
      href="/flightss" <%- title === 'All FLIGHTS' ? 'class="active"' : '' %>
    >
      ALL FLIGHTS
    </a>
  </nav>