<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>
<main>
    <form action="/flights" method="POST">
        <label for="meal">Meal:</label>
        <input type="text" name="name" id="meal-input">
        <button type="submit">Add Meal</button>
    </form>

</main>


<%- include("../partials/footer") %> 